.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .search-input{
   
}
  

  .search{
    margin-left: 1000px;
    margin-top: 90px;
  }
  .my-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(73, 130, 196);
  }