

  <span class="p-input-icon-left search">
    <i class="pi pi-search"></i>
    <input (keyup)="getTheInput()" class="search-input" type="text" pInputText [(ngModel)]="searchedValue" placeholder="Search">         
  </span>


<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <h2>Frequently Asked Questions</h2>
    <div class="col-12" *ngFor="let question of filteredQuestions | paginate: { itemsPerPage: 2, currentPage: page, totalItems:totalLength }; let indexOfQuestion = index ">
      <!-- <div class="p-3 h-full" *ngIf="(searchedValue=='') || (question?.text?.toLowerCase()?.includes(searchedValue.toLowerCase()))"> -->
        <div class="p-3 h-full">
        <!-- accordion -->

        <mat-accordion>
          <mat-expansion-panel [expanded]="step == indexOfQuestion"  (opened)="setStep(indexOfQuestion)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{question.text}}
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <p>{{question.answer}}</p>
            <mat-action-row>
              <button *ngIf="step!=0"  mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>


      </div>
    </div>
  
  </div>
    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>
